src/qt/qt_*.o
src/qt/moc_*.cpp
src/qt/locale/*.qm
src/qt/forms/ui_*.h
src/*.o
src/*.a
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/m4/lt~obsolete.m4
build-aux/missing
build-aux/test-driver
config.log
config.status
configure
contrib/devtools/split-debug.sh
depends/built/
depends/i686-w64-mingw32/
doc/man/Makefile
doc/man/Makefile.in
libOFIChainconsensus.pc
libtool
share/qt/Info.plist
share/setup.nsi
src/Makefile
src/Makefile.in
src/OFIChain-config.h
src/OFIChain-config.h.in~
src/qt/OFIChain.moc
src/qt/overviewpage.moc
src/qt/qrc_OFIChain.cpp
src/qt/res/OFIChain-qt-res.o
src/qt/rpcconsole.moc
src/stamp-h1
test/config.ini
OFIChain-3.0.0-win32-setup.exe
release/
src/OFIChain-cli.exe
src/OFIChaind.exe
src/qt/OFIChain-qt.exe
src/qt/libOFIChainqt.a

